/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
storage/framework/views/e0d1a104dd22e6ae73da85697e443a92.php
storage/framework/views/17c92682fc6b9b73fd3858d4f011d6dc.php
storage/framework/views/7d11103ae262fba4b4835c2c8a2fd891.php
storage/framework/views/d8be63943ff865e3d57c3e7d61236cd7.php
